

.page-heading {
  background: url('../../templates/bt_real_estate/images/bg-re-titlepage_03.png') repeat-x bottom;
}
.page-heading .heading-title {
  margin: 0 15px;
  background: url('../../templates/bt_real_estate/images/icon-titlepage_03.png') no-repeat left bottom;
  min-height: 64px;
}
.page-heading .heading-title .title_page {
  padding: 8px 0 24px 55px;
  line-height: 32px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #6e6e6e;
  text-transform: uppercase;
  font-size: 18px;
}
.article-title a {
  color: #676767;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
.article-title a:hover {
  color: #dd2651;
}
.itembasicinfo .createdby span {
  color: #dd2651;
  font-weight: bold;
}
.items-more h3 {
  font-size: 16px;
  text-transform: uppercase;
  color: #dd2651;
  font-weight: normal;
  border-bottom: 2px solid #dd2651;
  line-height: normal;
  padding-bottom: 8px;
}
.items-more li {
  border-bottom: 1px solid #ebebeb;
  background: url("../../templates/bt_real_estate/images/icon-li-itemauthorlatest.png") no-repeat left 12px;
  padding: 0 0 0 17px;
  line-height: 32px;
}
.items-more li:hover {
  background: url("../../templates/bt_real_estate/images/icon-li-itemauthorlatest-hover-ltr.png") no-repeat left 12px;
}
.items-more li a {
  color: #676767;
  border: 0 !important;
  padding: 0;
  margin: 0;
  line-height: 32px;
}
.items-more li a:hover {
  color: #dd2651;
  background: none;
}
.module_gallery .module-title {
  border-bottom: 1px solid #eaeaea;
  margin: 0 -14px;
  padding: 2px 14px 13px 14px;
}
.module_gallery .module-ct {
  margin-right: -14px;
}
.btp-direction .preview,
.btp-direction .next,
.defaultLayout .btcontentshowcase-prev,
.defaultLayout .btcontentshowcase-next {
  background-color: #dd2651 !important;
}
.btp-direction .preview:hover,
.btp-direction .next:hover,
.defaultLayout .btcontentshowcase-prev:hover,
.defaultLayout .btcontentshowcase-next:hover {
  background-color: #166cb5 !important;
}
.module_last .defaultLayout .bt-inner a:hover img {
  box-shadow: 5px -5px 0px #dd2651;
  -webkit-box-shadow: 5px -5px 0px #dd2651;
  -moz-box-shadow: 5px -5px 0px #dd2651;
}
.defaultLayout .bt-contentshowcase a:hover,
.defaultLayout .bt-contentshowcase h3  span {
  color: #dd2651;
}
.defaultLayout .bt-inner .bt-introtext {
  border-left: 2px solid #dd2651;
}
.defaultLayout  .swap-flanks .btcontentshowcase-prev {
  background: url('../../templates/bt_real_estate/images/re-left2.png') #f9f9f9 center center no-repeat !important;
}
.defaultLayout  .swap-flanks .btcontentshowcase-next {
  background: url('../../templates/bt_real_estate/images/re-right2.png') #f9f9f9 center center no-repeat !important;
}
.module_feature .defaultLayout .bt-inner a.bt-image-link {
  border: 1px solid #fca7bb !important;
}
#btl .btl-panel > span:hover {
  background-color: #dd2651 !important;
}
#bt_ul li:hover a,
.btl-content-block h3,
#btl-content-login #social-connect div {
  color: #dd2651 !important;
}
button.btl-buttonsubmit,
input.btl-buttonsubmit {
  background-color: #dd2651 !important;
}
button.btl-buttonsubmit:hover,
input.btl-buttonsubmit:hover,
button.btl-buttonsubmit:focus,
input.btl-buttonsubmit:focus {
  background-color: #166cb5 !important;
}
#bt_ul li a {
  background: url('../../templates/bt_real_estate/images/icon-li-login-ltr.png') left 3px no-repeat;
}
.bt-twitter #twtr-widget-1 .twtr-tweet a {
  color: #dd2651 !important;
}
.btqc-field-container input.button {
  background: url('../../templates/bt_real_estate/images/botton-contact-ltr.png') #dd2651 top left no-repeat !important;
}
#cp-caption .cp-title {
  background: url('../../templates/bt_real_estate/images/bg-content-slider.png') top left;
  font-size: 26px;
  font-weight: bold;
  padding: 12px;
  border-left: 4px solid #dd2651;
}
#cp-caption .cp-desc {
  background: url('../../templates/bt_real_estate/images/bg-content-slider.png') top left;
  color: #FFFFFF;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  padding: 7px 15px 10px;
  font-family: 'Open Sans', sans-serif;
  border-left: 4px solid #dd2651;
}
.t3-mainnav .navbar .nav > li > .dropdown-menu.mega-dropdown-menu {
  border-top: 5px solid #dd2651 !important;
}
.t3-module.module_portfolio_filter .module-title {
  background: url('../../templates/bt_real_estate/images/bt-portfolio-filter.png') top right no-repeat;
  width: 250px;
  cursor: pointer;
}
.t3-module.module_portfolio_filter .module-title span {
  color: #fff;
  margin: 0 47px 0 15px;
  line-height: 43px;
  text-transform: uppercase;
  font-size: 18px;
  text-shadow: 0 -2px 1px #be153d;
}
.filter-button {
  background: url('../../templates/bt_real_estate/images/bt-portlio-search.png') top right no-repeat;
  width: 250px;
  height: 43px;
  line-height: 43px;
}
.filter-button .button {
  color: #fff;
  width: 240px;
  margin: 0 0px 0 15px;
  text-transform: uppercase;
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  font-size: 18px;
  text-shadow: 0 -2px 1px #be153d;
  text-align: left;
  font-weight: bold;
}
.pagination {
  width: 100%;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0;
}
.pagination ul {
  margin: 7px 7px 2px;
  float: left;
  box-shadow: none;
}
.pagination ul li {
  display: inline;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 29px;
  float: left;
}
.pagination ul li.disabled,
.pagination ul li:hover {
  display: inline;
  margin-right: 5px;
  line-height: 29px;
  float: left;
}
.pagination ul li a:link {
  background: url('../../templates/bt_real_estate/images/bg-pagina.png') no-repeat center center;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  width: 29px;
  display: inline-block;
  border: 0;
}
.pagination ul li a:hover {
  background: url('../../templates/bt_real_estate/images/bg-pagina-hover.png') no-repeat center center;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  width: 29px;
  display: inline-block;
  border: 0;
}
.pagination ul li.disabled  > a:hover,
ul.pagination-list li.disabled  > a {
  background: url('../../templates/bt_real_estate/images/bg-pagina-hover.png') no-repeat center center;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  width: 29px;
  border: 0;
}
.pagination ul li.Start a,
ul.pagination-list li.Prev a,
ul.pagination-list li.Next a,
ul.pagination-list li.End a,
.pagination ul li.Start a:link,
ul.pagination-list li.Prev a:link,
ul.pagination-list li.Next a:link,
ul.pagination-list li.End a:link {
  background: none;
  color: #4b4b4b;
  padding: 8px 0;
  border: 0;
}
.pagination ul li.Start a:hover,
ul.pagination-list li.Prev a:hover,
ul.pagination-list li.Next a:hover,
ul.pagination-list li.End a:hover {
  background: none;
  color: #dd2651;
}
.pagination ul li.Start.disabled a,
.pagination ul li.Start.disabled a:hover,
ul.pagination-list li.Prev.disabled a:hover,
ul.pagination-list li.Next.disabled a:hover,
ul.pagination-list li.End.disabled a:hover {
  color: #4b4b4b;
  padding: 8px 4px;
  border: 0;
}
.pagination ul li.Start,
ul.pagination-list li.Next {
  background: url('../../templates/bt_real_estate/images/pc-paga.png') no-repeat right;
  padding-right: 18px;
}
.pagination .counter.pull-right {
  float: right;
  color: #676767;
  margin: 14px 12px;
  font-weight: bold;
}
div.latestItemHeader h3.latestItemTitle a,
div.itemListSubCategories h3 a,
div.itemHeader h2.itemTitle,
div.tagItemHeader h2.tagItemTitle a,
div.userItemHeader h3.userItemTitle a,
div.catItemHeader h3.catItemTitle a {
  color: #676767;
}
div.latestItemHeader h3.latestItemTitle a:hover,
div.itemListSubCategories h3 a:hover,
div.tagItemHeader h2.tagItemTitle a:hover,
div.userItemHeader h3.userItemTitle a:hover,
div.catItemHeader h3.catItemTitle a:hover {
  color: #dd2651;
}
div.itemExtraFields ul li span.itemExtraFieldsValue,
div.itemTagsBlock ul.itemTags li a,
div.itemAuthorLatest h3,
div.itemAuthorLatest ul li a:hover,
div.itemRelated h3,
div.itemRelated ul li a:hover,
.itemCommentsCounter,
div.itemComments ul.itemCommentsList li span.commentLink a,
div.itemCommentsForm h3,
div.itemListCategory h2,
div.itembasicinfo a,
div.catItemTagsBlock ul.catItemTags li a,
div.catItemCommentsLink a:hover,
div.userBlock h2,
div.userItemTagsBlock ul.userItemTags li a,
div.userItemCommentsLink a,
div.latestItemsUser h2,
div.latestItemTagsBlock ul.latestItemTags li a:hover,
.k2AccountPage th.k2ProfileHeading,
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl {
  color: #dd2651;
}
div.itemAuthorLatest h3,
div.itemRelated h3,
.itemCommentsCounter,
div.itemCommentsForm h3,
div.itemListCategory,
div.userBlock,
div.latestItemsUser {
  border-bottom: 2px solid #dd2651;
}
div.itemAuthorLatest ul li:hover,
div.itemRelated ul li:hover {
  background: url("../../templates/bt_real_estate/images/icon-li-itemauthorlatest-hover-ltr.png") no-repeat left 12px;
}
div.latestItemReadMore,
div.catItemReadMore,
div.userItemReadMore,
div.tagItemReadMore,
.btp-submit-comment span,
span.bt_buttom {
  background: url("../../templates/bt_real_estate/images/read-more-l-ltr.png") no-repeat scroll left top transparent;
}
div.latestItemReadMore a,
div.catItemReadMore a,
div.userItemReadMore a,
div.tagItemReadMore a,
span.bt_buttom .button,
.btp-submit-comment span button,
div.itemCommentsForm form input:focus#submitCommentButton,
div.itemCommentsForm form input:hover#submitCommentButton {
  background: url("../../templates/bt_real_estate/images/read-more-r-ltr.png") no-repeat scroll right top transparent;
}
ul.pagination-list {
  margin: 0px 7px 0px 0;
  float: left;
  text-align: center;
}
ul.pagination-list li {
  display: inline;
  margin-right: 5px;
  margin-bottom: 0px;
  line-height: 24px;
  float: left;
}
ul.pagination-list li.disabled,
ul.pagination-list li:hover {
  display: inline;
  margin-right: 5px;
  line-height: 24px;
  float: left;
}
ul.pagination-list li a {
  background: url('../../templates/bt_real_estate/images/bg-pagina.png') no-repeat center;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  width: 29px;
  display: inline-block;
}
ul.pagination-list li a:hover {
  background: url('../../templates/bt_real_estate/images/bg-pagina-hover.png') no-repeat center center;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  width: 29px;
  display: inline-block;
}
ul.pagination-list li.disabled  > a:hover,
ul.pagination-list li.disabled  > a {
  background: url('../../templates/bt_real_estate/images/bg-pagina-hover.png') no-repeat center;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  width: 29px;
  display: inline-block;
}
ul.pagination-list li.Start a,
ul.pagination-list li.Prev a,
ul.pagination-list li.Next a,
ul.pagination-list li.End a,
ul.pagination-list li.Start a:link,
ul.pagination-list li.Prev a:link,
ul.pagination-list li.Next a:link,
ul.pagination-list li.End a:link {
  background: none;
  color: #4b4b4b;
  padding: 8px 4px;
}
ul.pagination-list li.Start a:hover,
ul.pagination-list li.Prev a:hover,
ul.pagination-list li.Next a:hover,
ul.pagination-list li.End a:hover {
  background: none;
  color: #dd2651;
}
ul.pagination-list li.Start.disabled a,
ul.pagination-list li.Start.disabled a:hover,
ul.pagination-list li.Prev.disabled a:hover,
ul.pagination-list li.Next.disabled a:hover,
ul.pagination-list li.End.disabled a:hover {
  color: #4b4b4b;
  padding: 8px 4px;
  background: none;
}
ul.pagination-list li.Start,
ul.pagination-list li.Next {
  background: url('../../templates/bt_real_estate/images/pc-paga.png') no-repeat right;
  padding-right: 18px;
}
div.k2Pagination .totalpage {
  float: right;
  color: #676767;
  margin: 10px 12px;
  font-weight: bold;
}
.btp-item-content-top {
  border-left: 2px solid #dd2651;
}
.btp-detail .price .extrafield-value {
  background-color: #dd2651;
  font-family: 'Open Sans', sans-serif;
}
.review-form-title,
h3.btp-comment-head {
  border-bottom: 2px solid #dd2651;
  color: #dd2651;
}
.btp-detail .extrafield-row-inner .extrafield-title,
.comment-author {
  color: #dd2651;
}
span.bt_buttom .button,
.btp-submit-comment span button {
  font-family: 'Open Sans', sans-serif;
}
.filter-button .button,
.filter-description,
.filter-label label {
  font-family: 'Open Sans', sans-serif;
}
.price .extrafield-value,
.extrafield-row td:first-child {
  color: #dd2651;
}
.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
  border-bottom-color: #dd2651 !important;
  border-top-color: #dd2651 !important;
}

